# WalletConnect Project ID (Dapatkan dari https://cloud.walletconnect.com)
NEXT_PUBLIC_WC_PROJECT_ID=

# Contract Addresses
NEXT_PUBLIC_SKRIPSI_STAKING_ADDRESS=0x36288b3C7BDdfd8987B0BbCfFDDe37aC7b05a8de
NEXT_PUBLIC_WETH_ADDRESS=0x7b79995e5f793A07Bc00c21412e50Ecae098E7f9
